<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>
    <style>
        body {
            background-color: black;
            color: {{ .Color }};
        }
        progress::-moz-progress-bar { background: {{ .Color }}; }
        .browse_button_grid {
            cursor: pointer;
            padding: 25px;
            width: 100%;
            grid-area: browse;
            border: {{ .Color }} dashed 1px;
            color: {{ .Color }};
            background: black;
        }
        .filename_grid {
            grid-area: filename;
            padding: 25px;
            border: {{ .Color }} dashed 1px;
            color: {{ .Color }};
            background: black;
        }
        .upload_button_grid {
            cursor: pointer;
            grid-area: upload;
            border: {{ .Color }} dashed 1px;
            color: {{ .Color }};
            background: black;
        }
        .size_grid {
            grid-area: size;
            padding: 25px;
            border: {{ .Color }} dashed 1px;
            color: {{ .Color }};
            background: black;
        }
        .progress_number_grid {
            grid-area: progress_number;
            padding: 25px;
            border: {{ .Color }} dashed 1px;
            color: {{ .Color }};
            background: black;
        }
        .speed_grid {
            grid-area: speed;
            padding: 25px;
            border: {{ .Color }} dashed 1px;
            color: {{ .Color }};
            background: black;
        }
        .progress_bar_grid {
            grid-area: progress_bar;
            padding: 25px;
            border: {{ .Color }} dashed 1px;
            color: {{ .Color }};
            background: black;
        }
        .key_input_grid {
            grid-area: key_input;
            padding: 25px;
            border: {{ .Color }} dashed 1px;
            color: {{ .Color }};
            background: black;
        }
        .grid-container {
            display: grid;
            grid-template-areas:
    'browse       filename         upload'
    'size         progress_number  speed'
    'progress_bar progress_bar     progress_bar'
    'key_input    key_input        key_input';
            grid-template-columns: 25% 50% 25%;
            grid-gap: 1px;
            background-color: black;
            padding: 10px;
        }
        input[type="file"] {
            display: none;
        }
        #keyInputDiv {
            border: {{ .Color }} dashed 1px;
            color: {{ .Color }};
            background: black;
            padding: 5px;
        }
        input[type="text"] {
            border: {{ .Color }} dashed 1px;
            color: {{ .Color }};
            background: black;
        }
    </style>
</head>
<body>
<div>
    <form class="grid-container" enctype="multipart/form-data" action="/upload">
        <label class="browse_button_grid">
            Browse
            <input type="file" id="fileToUpload" name="fileToUpload" onchange="fileSelected()"/>
        </label>
        <div class="filename_grid" id="filename">filename</div>
        <input id="uploadButton" class="upload_button_grid" type="button" value="Upload" onclick="uploadFile();setTime()">
        <div class="size_grid" id="fileSize">FileSize</div>
        <div class="progress_number_grid" id="progressNumber">0%</div>
        <div class="speed_grid" id="speed">0 Kbps</div>
        <progress class="progress_bar_grid" id="progressBar" value="0" max="100"></progress>
    </form>
    <!--  TODO :  fix element spacing css-->
    <div id="keyInputDiv" style="visibility: hidden"><label for="KeyInput">Key Required:</label><input class="key_input_grid" type="text" id="KeyInput" name="KeyInput"></div>
</div>
<script type="application/javascript">
    let ub = document.getElementById("uploadButton");
    let keyBool = {{ .Key }};
    if (keyBool) {
        keyInputDiv = document.getElementById("keyInputDiv");
        keyInputDiv.style.visibility = "visible"
    }
    let od = new Date();
    let speedArray = [];
    let fileSize = 0;
    let oldBytes = 0;
    let filenameEm = document.getElementById("filename");
    let progressNumber = document.getElementById('progressNumber');
    let progressBar = document.getElementById("progressBar");
    let speedNumber = document.getElementById("speed");
    let average = (array) => array.reduce((a, b) => a + b) / array.length;
    function fileSelected() {
        fileSize = 0;
        let file = document.getElementById('fileToUpload').files[0];
        if (file) {
            if (file.size > 1024 * 1024) {
                fileSize = (Math.round(file.size * 100 / (1024 * 1024)) / 100).toString() + 'MB';
            } else {
                fileSize = (Math.round(file.size * 100 / 1024) / 100).toString() + 'KB';
            }
            document.getElementById('fileSize').innerHTML = 'Size: ' + fileSize;
        }
        filenameEm.innerText = file.name
        progressNumber.innerHTML = '0%';
        progressBar.value = 0;
    }
    function uploadFile() {
        // TODO : get keyInput and return to server and from value "key"
        let key = document.getElementById("KeyInput")
        let fd = new FormData();
        fd.append("fileToUpload", document.getElementById('fileToUpload').files[0]);
        let r = new XMLHttpRequest();
        r.upload.addEventListener("progress", uploadProgress, false);
        r.addEventListener("load", uploadComplete, false);
        r.addEventListener("error", uploadFailed, false);
        r.addEventListener("abort", uploadCanceled, false);
        r.open("POST", "/upload?key="+key.value);
        console.log(key.value);
        r.send(fd);
    }
    function setTime() {
        od.getTime();
    }
    function uploadProgress(event) {
        if (event.lengthComputable) {
            let percentComplete = Math.round(event.loaded * 100 / event.total);
            progressNumber.innerHTML = percentComplete.toString() + '%';
            progressBar.value = percentComplete;
            bytesSent = event.loaded - oldBytes
            let nd = new Date().getTime();
            if (speedArray.length > 10) {
                speedArray.shift()
            }
            speedArray.push(Math.round(((bytesSent / (nd - od)) / 1000) * 1000))
            let ave = Math.round(average(speedArray));
            if ( ave > 1000 ) {
                speedNumber.innerHTML = (ave/1000)+" MB/s"
            } else {
                speedNumber.innerHTML = ave+" KB/s"
            }
            oldBytes = event.loaded;
            od = nd;
        }
        else {
            progressNumber.innerHTML = 'unable to compute';
        }
    }
    function uploadComplete(event) {
        speedArray = [];
        oldBytes = 0;
        alert(event.target.responseText);
    }
    function uploadFailed() {
        alert("uploadFailed.");
    }
    function uploadCanceled() {
        alert("uploadCanceled");
    }
</script>
</body>
</html>